.modalContent {
  font-family: PressStart2P-Regular, Times, serif;
  background-color: rgb(0, 0, 0);
  border: 3px solid #1919ae;
  color: white;
}

.modalContent .modal-content {
  background-color: #000;
  color: #fff;
  margin: 20px;
  padding: 20px;
}
