.dice {
  width: 70px;
  height: 70px;
  position: relative;
  display: inline;
  text-align: center;
  font-size: x-large;
}
.dice:before {
  position: absolute;
  display: block;
  content: "";
  width: 70px;
  height: 70px;
  left: 0;
  top: 100px;
  right: 0;
  bottom: 0;
  -webkit-transform: rotate(45deg);
  -webkit-transition: border-color 0.3s;
  -moz-transform: rotate(45deg);
  -moz-transition: border-color 0.3s;
  transform: rotate(45deg);
}
.result {
  width: 40px;
  height: 40px;
  position: relative;

  margin: 15px;
  display: inline-block;
}
.result:before {
  position: absolute;
  display: block;
  content: "";
  width: 40px;
  height: 40px;
  left: -4px;
  top: -10px;
  right: 0;
  bottom: 0;
  border: 2px solid #fbf100;
  -webkit-transform: rotate(45deg);
  -webkit-transition: border-color 0.3s;
  -moz-transform: rotate(45deg);
  -moz-transition: border-color 0.3s;
  transform: rotate(45deg);
}
