.dice {
  width: 4.375rem;
  height: 4.375rem;
  position: relative;
  display: inline;
  text-align: center;
  font-size: x-large;
}
.dice:before {
  position: absolute;
  display: block;
  content: "";
  width: 4.375rem;
  height: 4.375rem;
  left: 0;
  top: 6.25rem;
  right: 0;
  bottom: 0;
  -webkit-transform: rotate(45deg);
  -webkit-transition: border-color 0.3s;
  -moz-transform: rotate(45deg);
  -moz-transition: border-color 0.3s;
  transform: rotate(45deg);
}
.result {
  width: 3rem;
  height: 3rem;
  position: relative;

  margin: 0.9rem;
  display: inline-block;
}
.result:before {
  position: absolute;
  display: block;
  content: "";
  width: 3rem;
  height: 3rem;
  left: -0.3rem;
  top: -0.7rem;
  right: 0;
  bottom: 0;
  border: 2px solid #fbf100;
  -webkit-transform: rotate(45deg);
  -webkit-transition: border-color 0.3s;
  -moz-transform: rotate(45deg);
  -moz-transition: border-color 0.3s;
  transform: rotate(45deg);
}
